    <table>
      <tr>
        <td>Type<input type="text" #type class="form-control"></td>
      </tr>
      <tr>
        <td>Name<input type="text"#name class="form-control"></td>
      </tr>
      <tr>
        <td>Label<input type="text" #label class="form-control"></td>
      </tr>
      <tr>
        <td>Class<input type="text" #styleClass class="form-control"></td>
      </tr>
      <tr>
        <td>Href<input type="text" #href class="form-control"></td>
      </tr>
      <button style="margin-top: 10px" type="button" (click)="buttonProperties(type.value, name.value, label.value, styleClass.value, href.value)">Salva</button>
    </table>
