<!-- BUTTON  --------------------------------------------------------------------------------------------------->
<div align="center" class="container">
  <h1>{{title}}</h1>
  <div>
    <div>
      <app-form (button)="getButton($event)"></app-form>
    </div>
  </div>
</div>
<div align="center" class="container">
  <div>
    <app-button [button]="bottone"></app-button>
  </div>
</div>
<hr>

<!--USERS  --------------------------------------------------------------------------------------------------->
<h1>{{title2}}</h1>
<div align="center" class="container">
  <div class="row">
    <div class="col-xl-12">
      <app-user-form></app-user-form>
    </div>
  </div>
</div>
<div align="center" class="container" style="margin-bottom: 30px">
  <div style="margin-top: 30px">
    <app-user-table [headers]="header"></app-user-table>
  </div>
</div>



